---
import GithubOutlineIcon from "@/icons/github-outline-icon.astro";
import LinkIcon from "@/icons/link-icon.astro";
import Button from "./button.astro";
import TagBadge from "./tag-badge.astro";

const { title, description, githubLink, previewLink, image, tags } =
  Astro.props;
---

<article class="flex max-lg:flex-col gap-6 w-full mb-12 lg:mb-8">
  <img
    src={image}
    alt={title}
    class="w-auto h-full lg:h-60 aspect-video rounded-md border border-slate-600"
  />

  <div class="flex flex-col gap-2 px-2 lg:py-2">
    <h4 class="text-lg lg:text-xl font-bold">
      {title}
    </h4>

    <ul class="flex gap-2 items-center">
      {
        tags.map((tag: any) => (
          <TagBadge className={tag.className}>
            <tag.icon className="size-3" />
            {tag.name}
          </TagBadge>
        ))
      }
    </ul>

    <p class="text-muted-foreground py-2">{description}</p>

    <div class="flex gap-6">
      {
        githubLink && (
          <Button>
            <GithubOutlineIcon className="size-4 lg:size-5" />
            Code
          </Button>
        )
      }
      {
        previewLink && (
          <Button>
            <LinkIcon className="size-5" />
            Preview
          </Button>
        )
      }
    </div>
  </div>
</article>
