---
import NextJSIcon from "../icons/NextJS.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import ExpressIcon from "../icons/Express.astro";
import GithubOutlineIcon from "../icons/GithubOutline.astro";
import ReactIcon from "../icons/React.astro";
import LinkIcon from "../icons/Link.astro";
import CSSIcon from "../icons/CSS.astro";
import JSIcon from "../icons/JS.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import FramerIcon from "../icons/Framer.astro";
import ProjectsBtns from "./ProjectsBtns.astro";

const TAGS = {
  NEXTJS: {
    name: "Nextjs",
    class: "bg-slate-700 text-white",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#1c2b4e] text-white",
    icon: TailwindIcon,
  },
  EXPRESS: {
    name: "Express",
    class: "bg-slate-200 text-black",
    icon: ExpressIcon,
  },
  REACT: {
    name: "React",
    class: "bg-[#087EA4] text-white",
    icon: ReactIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#013158] text-white",
    icon: CSSIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-yellow-200",
    icon: JSIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#5D16A1] text-white",
    icon: AstroIcon,
  },
  FRAMER_MOTION: {
    name: "Framer Motion",
    class: "bg-zinc-800 text-white",
    icon: FramerIcon,
  },
};

const PROJECTS = [
  {
    title: "Apolo admin - An admin dashboard.",
    description:
      "Apolo admin is an admin dashboard that allows barbers to manage their shops. The website is being built using NextJS and Java Springboot. This is a project that we're working on as a team with 4 more colleagues.",
    link: "https://barber-admin-dashboard.vercel.app/",
    image: "/projects/ApoloAdmin.webp",
    tags: [TAGS.NEXTJS, TAGS.TAILWIND],
  },
  {
    title: "Inverfin S.A. - A landing page.",
    description:
      "This is a landing page I built for an investment company. It was built using Astro, React, Tailwind and Framer motion",
    link: "https://inverfinsa.com.ar/",
    image: "/projects/InverfinLandingpage.webp",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND, TAGS.FRAMER_MOTION],
  },
  {
    title: "Landing Page - A template for landing page.",
    description: "A landing page template.",
    link: "https://template-landingpage.vercel.app/",
    github: "https://github.com/santiago-federici/template-landingpage",
    image: "/projects/template-landingpage.webp",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND, TAGS.FRAMER_MOTION],
  },
  {
    title: "Landing Page - A landing page for a saas.",
    description:
      "A landing page for a saas that allows barbery shops to manage their appointments, earning, payments, staff and clients. This website was built using Astro, React, Tailwind CSS and Framer Motion.",
    link: "https://apolo-landingpage.vercel.app/",
    github: "https://github.com/santiago-federici/apolo-landingpage",
    image: "/projects/ApoloLandingPage.webp",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND, TAGS.FRAMER_MOTION],
  },
  {
    title: "Urban Vogue - An ecommerce website.",
    description:
      "Urban Vogue is an ecommerce website that allows users to browse and purchase products from a variety of categories. The website was built using NextJS and Wix Studio. I also implemented Mercado Pago as payment gateway.",
    link: "https://nextjs-ecommerce-eight-delta.vercel.app/",
    github: "https://github.com/santiago-federici/nextjs-ecommerce",
    image: "/projects/UrbanVogue.webp",
    tags: [TAGS.NEXTJS, TAGS.TAILWIND],
  },
  /*
 {
    title: "NotionClone - A tasks tracking app.",
    description:
      "NotionClone – a web application inspired by Notion – that provides users with the tools to efficiently organize their lives. Created from sratch using React and Express.",
    link: "https://notionclone-v1.vercel.app/",
    github: "https://github.com/santiago-federici/ReactJS-NotionClone",
    image: "/projects/notionClone.webp",
    tags: [TAGS.EXPRESS, TAGS.REACT],
  },
  {
    title: "WeatherApp - A weather app.",
    description:
      "WeatherApp – a web application that allows you to check the weather in any city of the world. Created from sratch using React and CSS.",
    link: "https://weatherappbysanti.netlify.app/",
    github: "https://github.com/santiago-federici/WeatherAPI",
    image: "/projects/weatherApp.webp",
    tags: [TAGS.REACT, TAGS.CSS],
  },
  {
    title: "PC Ecommerce - A PC store.",
    description:
      "An ecommerce website to buy pcs, mouses and keyboards. Created from sratch using React and CSS.",
    link: "https://pccomponentsecommerce.netlify.app/",
    github: "https://github.com/santiago-federici/ReactJS-coderhouse",
    image: "/projects/PcEcommerce.webp",
    tags: [TAGS.REACT, TAGS.CSS],
  },
  {
    title: "Bakken - A bakery store.",
    description:
      "A website for a bakery I worked for, to sell their products online. Created from sratch using JavaScript and CSS.",
    link: "https://santiago-federici.github.io/javascript-coderhouse/index.html",
    github: "https://github.com/santiago-federici/javascript-coderhouse",
    image: "/projects/Bakken.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.CSS],
  },
  */
];
---

{
  PROJECTS.map(({ image, title, tags, description, link, github }) => (
    <article class="mb-8 flex flex-col lg:flex-row gap-4">
      <img
        src={image}
        alt={`Screenshot of the project ${image}`}
        class="w-full h-full lg:w-96 lg:h-60 object-cover rounded border border-1 border-slate-800"
      />

      <div class="p-2">
        <h3 class="text-2xl font-bold">{title}</h3>

        <ul class="flex gap-2 my-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`${tag.class} font-light flex gap-1 items-center rounded-full text-sm lg:text-xs px-2 w-fit`}
              >
                <tag.icon class="size-3" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

        <p class="opacity-70 mb-4">{description}</p>

        <div class="flex gap-2">
          {github && (
            <ProjectsBtns href={github}>
              <GithubOutlineIcon class="size-5" />
              Code
            </ProjectsBtns>
          )}

          {link && (
            <ProjectsBtns href={link}>
              <LinkIcon class="size-5" />
              Preview
            </ProjectsBtns>
          )}
        </div>
      </div>
    </article>
  ))
}
